/* nav bar */
.topnav {
    overflow: hidden;
    background-color: #000000;
    width: 1500px;
    height: 50px;
    position: fixed;
  }
  
  .topnav a{
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a hover {
    background-color: rgb(8, 243, 173);
    color: white;
  }

#ip1
{
    margin-left: 500px;
    width: 400px;
    height: 29px;
    margin-top: 10px;
}

  #s1
  {
      width: 70px;
      margin-bottom: 15px;
      height: 30px;
  }
  #s1:hover {
    background: rgb(236, 10, 10);
  }
  .but {
    /* display: inline-block; */
    height: 50px;
    line-height: 50px;
    padding-right: 30px;
    padding-left: 70px;
    position: relative;
    background-color:rgb(41,127,184);
    color:rgb(255,255,255);
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 15px;
    
    
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    text-shadow:0px 1px 0px rgba(0,0,0,0.5);
  -ms-filter:"progid:DXImageTransform.Microsoft.dropshadow(OffX=0,OffY=1,Color=#ff123852,Positive=true)";zoom:1;
  filter:progid:DXImageTransform.Microsoft.dropshadow(OffX=0,OffY=1,Color=#ff123852,Positive=true);
  
    -moz-box-shadow:0px 2px 2px rgba(0,0,0,0.2);
    -webkit-box-shadow:0px 2px 2px rgba(0,0,0,0.2);
    box-shadow:0px 2px 2px rgba(0,0,0,0.2);
    -ms-filter:"progid:DXImageTransform.Microsoft.dropshadow(OffX=0,OffY=2,Color=#33000000,Positive=true)";
  filter:progid:DXImageTransform.Microsoft.dropshadow(OffX=0,OffY=2,Color=#33000000,Positive=true);
  }
  
  .but span {
    position: absolute;
    left: 0;
    width: 50px;
    background-color:rgba(0,0,0,0.5);
    
    -webkit-border-top-left-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-bottomleft: 5px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-right: 1px solid  rgba(0,0,0,0.15);
  }
  
  .but:hover span, .but.active span {
    background-color:rgb(0,102,26);
    border-right: 1px solid  rgba(0,0,0,0.3);
  }
  
  .but:active {
    margin-top: 2px;
    margin-bottom: 13px;
  
    -moz-box-shadow:0px 1px 0px rgba(255,255,255,0.5);
  -webkit-box-shadow:0px 1px 0px rgba(255,255,255,0.5);
  box-shadow:0px 1px 0px rgba(255,255,255,0.5);
  -ms-filter:"progid:DXImageTransform.Microsoft.dropshadow(OffX=0,OffY=1,Color=#ccffffff,Positive=true)";
  filter:progid:DXImageTransform.Microsoft.dropshadow(OffX=0,OffY=1,Color=#ccffffff,Positive=true);
  }
  
  .but.orange {
    background: #FF7F00;
  }
  
  .but.purple {
    background: #8e44ad;
  }
  
  .but.turquoise {
    background: #1abc9c;
  }
  
  .but.red {
    background: #e74c3c;
  }
.dropdown
{
    margin-top: 100px;
    margin-left: 5px;
    left: 0%;
    margin-right: 1000px;
    width: 500px;text-align: center;
    position: fixed;
}

#det
{
    border: 1px solid black;
    width: 400px;
    height: 300px;
    /* margin-riht: 100px; */
    margin-left:700px;
    position: fixed;
    margin-top: 100px;
    float: right;
    /* background-image: url('./image/1.jpg'); */
    background-position: center;
    background-repeat: no-repeat;
}